@{
    ViewBag.Title = "About Us";
}

<br /><br /><br />

<div class="container">
    <div class="jumbotron">
        <h2>@ViewBag.Title</h2>
        <p> We have been Utah's number one instrument rentals location for over 50 years.</p>
        <p>Our founder, Django Reinhardt, was a guitarist in one of the first Jazz bands in Provo.</p>
        <img src="https://i.pinimg.com/originals/8b/be/6d/8bbe6d6443a8235a30dd2f268d9f1ee2.jpg" class="center" />
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        </style>
        <p>Come rent with us and Participate in his legacy.</p>
    </div>
</div>

<p>Use this area to provide additional information.</p>
